<!DOCTYPE html>
<html>
<head>
    <title>Even or Odd Checker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h4>Home</h4>
        <p>Enter an integer to find out if its even or odd</p>
        <form method="POST">
            <div class="form-group">
                <input type="text" name="user_input" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
