{% extends "layout.html" %}

{% block content %}
    <h1>Registered Students</h1>
    <p>The following students have registered for student organizations.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for name, organization in users.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ organization }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
